#exclude general
*.bak
*.tmp
*.prj
*.pui
*.orig
*.err
/*.dbf
/*.CDX
/*.fxp
/*.fpt

TESTS/DATOS_READONLY/*.FXP

*special, exclude local config
foxbin2prg.cfg

#nix von hier
default/
temp/
tmp/
