# we use the exclude-all-include-special approach, easier then excluding any odd stuff later
#exclude general
*.bak
*.tmp
*.prj
*.pui
*.orig
*.err
/*.dbf
/*.CDX
/*.fxp
/*.fpt

TESTS/DATOS_READONLY/*.FXP

*special, exclude local config
foxbin2prg.cfg
